<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Nosso Plano</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!--
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" /> 
<script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
-->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />

<style>
h3 {
    text-align: center;
}
</style>	
</head>
<body>
	<nav class="navbar navbar-dark bg-dark">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Entrar</a>
				<a class="navbar-brand" href="register/register.html">Cadastrar-se</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Minha Conta</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div style="height: 5rem;">
		<h3> Nosso Plano </h3>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Matemática</h4>
					<!--<p class="card-text">Conteúdo programático de matemática do ensino fundamental.</p>-->
					<a href="courses/courses.html" class="btn btn-primary">Acessar Conteúdo</a>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Ciências</h4>
					<!--<p class="card-text">Conteúdo programático de ciências do ensino fundamental.</p>-->
					<a href="courses/courses.html" class="btn btn-primary">Acessar Conteúdo</a>
				</div>
			</div>
		</div>
	</div>
	<div style="height: 5rem;"></div>
	<div class="row">
		<div class="col-sm-6">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Portugûes</h4>
					<p class="card-text">Conteúdo programático de português do ensino fundamental.</p>
					<a href="courses/courses.html" class="btn btn-primary">Acessar Conteúdo</a>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">História</h4>
					<p class="card-text">Conteúdo programático de história do ensino fundamental.</p>
					<a href="courses/courses.html" class="btn btn-primary">Acessar Conteúdo</a>
				</div>
			</div>
		</div>
	</div>
	<div style="height: 5rem;"></div>
	<div class="row">
		<div class="col-sm-6">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Geografia</h4>
					<p class="card-text">Conteúdo programático de geografia do ensino fundamental.</p>
					<a href="courses/courses.html" class="btn btn-primary">Acessar Conteúdo</a>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Educação Física</h4>
					<p class="card-text">Conteúdo programático de educação física do ensino fundamental.</p>
					<a href="courses/courses.html" class="btn btn-primary">Acessar Conteúdo</a>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>